<a href="https://colab.research.google.com/github/raju2309/EY_GDS/blob/main/DataStructers_Methods.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#List
l= [1,2,3,4,67,56,'rk','tk']
l

[1, 2, 3, 4, 67, 56, 'rk', 'tk']

In [4]:
#Accessing list items
l[0]

l[2:5]

[3, 4, 67]

In [5]:
l[-1]

'tk'

In [6]:
l[-4:-1]

[67, 56, 'rk']

In [7]:
l[2]= 99 #Changing Value

In [8]:
l

[1, 2, 99, 4, 67, 56, 'rk', 'tk']

In [9]:
l.insert (3,87) #Adding new value

In [10]:
l

[1, 2, 99, 87, 4, 67, 56, 'rk', 'tk']

In [12]:
#To add an item to the end of the list, use the append() method:
l.append('Sagar')
l

[1, 2, 99, 87, 4, 67, 56, 'rk', 'tk', 'Sagar', 'Sagar']

In [13]:
l2 = [2,3,'ram','shyam','Mohan']

In [15]:
l.extend(l2 ) #To append elements from another list to the current list, use the extend() method.
l

[1,
 2,
 99,
 87,
 4,
 67,
 56,
 'rk',
 'tk',
 'Sagar',
 'Sagar',
 2,
 3,
 'ram',
 'shyam',
 'Mohan',
 2,
 3,
 'ram',
 'shyam',
 'Mohan']

In [17]:
l.remove('Sagar')
l

[1,
 2,
 99,
 87,
 4,
 67,
 56,
 'rk',
 'tk',
 2,
 3,
 'ram',
 'shyam',
 'Mohan',
 2,
 3,
 'ram',
 'shyam',
 'Mohan']

In [18]:
l.pop(2)

99

In [21]:
del l[4]
l

[1,
 2,
 87,
 4,
 'rk',
 'tk',
 2,
 3,
 'ram',
 'shyam',
 'Mohan',
 2,
 3,
 'ram',
 'shyam',
 'Mohan']

In [26]:
l3 = [8,2,5,6,7]
l3.sort() # sort the value
l3
l4 = [2,3,4,6]

[2, 5, 6, 7, 8]

In [32]:
l5=l3.copy() # copy the present value
l5

[2, 5, 6, 7, 8]

In [34]:
l6 = l2 + l5 #List Join
l6

[2, 3, 'ram', 'shyam', 'Mohan', 2, 5, 6, 7, 8]

In [37]:
l6.reverse()
l6

[8, 7, 6, 5, 2, 'Mohan', 'shyam', 'ram', 3, 2]

In [39]:
y=l6.count(2)
y

2

In [41]:
#Tuple & their methods
t1 = (1,2,4,5,7,2,4)
t1

(1, 2, 4, 5, 7, 2, 4)

In [43]:
x= t1.count(2) #Count 
x

2

In [45]:
z= t1.index(2) #Index
z

1

In [49]:
#Sets & their methods
s1 = {2,3,4,3,3,3,7,9,11}
s1

{2, 3, 4, 7, 9, 11}

In [52]:
s1.add('Aman') # add method
s1

{11, 2, 3, 4, 7, 9, 'Aman'}

In [54]:
t= s1.copy() #copy method
t

{11, 2, 3, 4, 7, 9, 'Aman'}

In [57]:
s2={2,3,6,7,98,67} # difference method
p=s1.difference(s2)
p

{11, 4, 9, 'Aman'}

In [66]:
r1 = s1.difference_update(s2) # remove the items which is common
s1

{11, 4, 9, 'Aman'}

In [68]:
s1.discard(11) #remove specific item
s1

{4, 9, 'Aman'}

In [71]:
k= t.intersection(s1) # retuens common value
k

{4, 9, 'Aman'}

In [73]:
x = {3, 6, 9}
y = {3, 7, 11}


x.intersection_update(y) # Remove the items that is not present in both x and y
x

{3}

In [75]:
z = x.isdisjoint(y) #Return True if no items in set x is present in set y
z

False

In [77]:
u = x.issubset(y) #Return True if all items in set x are present in set y
u

True

In [79]:
v=x.issuperset(y) #Return True if all items set y are present in set x
v

False

In [81]:
y.pop() # remove one item
y

{7}

In [87]:
y.add(2)
y

{2}

In [96]:
y.add(9)   # adding & removingf a value
y.add(15)
y
y.remove(15)
y

{9}

In [99]:
Set5 = {2,3,3,4,4,7,8,9}
set6 = {2,1,1,4,5,67,78,8}
set7 = Set5.union(set6)    #Union
set7

{1, 2, 3, 4, 5, 7, 8, 9, 67, 78}

In [105]:
#Dictioneries Methods
Match ={
    'Sachin' :100,
    'Virat' : 71,
    'Rohit' : 42,
    'Dhoni' : 87

}
Match3 =0
Match
Match2=Match.copy()  #copy method
Match2

{'Sachin': 100, 'Virat': 71, 'Rohit': 42, 'Dhoni': 87}

In [108]:
Score =  dict.fromkeys(Match,Match2) #The fromkeys() method returns a dictionary with the specified keys and the specified value.
Score

{'Sachin': {'Sachin': 100, 'Virat': 71, 'Rohit': 42, 'Dhoni': 87},
 'Virat': {'Sachin': 100, 'Virat': 71, 'Rohit': 42, 'Dhoni': 87},
 'Rohit': {'Sachin': 100, 'Virat': 71, 'Rohit': 42, 'Dhoni': 87},
 'Dhoni': {'Sachin': 100, 'Virat': 71, 'Rohit': 42, 'Dhoni': 87}}

In [110]:
y= Score.get("Dhoni") # to get specific value
y

{'Sachin': 100, 'Virat': 71, 'Rohit': 42, 'Dhoni': 87}

In [112]:
z=y.items()      
z                                #The items() method returns a view object. The view object contains the key-value pairs of the dictionary, as tuples in a list

dict_items([('Sachin', 100), ('Virat', 71), ('Rohit', 42), ('Dhoni', 87)])

In [114]:
p=y.keys() #returns keys value.
p

dict_keys(['Sachin', 'Virat', 'Rohit', 'Dhoni'])

In [121]:
w=Score.pop('Rohit') #remove specific key & value
w

{'Sachin': 100, 'Virat': 71, 'Dhoni': 87}

In [123]:
u1= Score.popitem() #remove last inserted item
u1

('Virat', {'Sachin': 100, 'Virat': 71, 'Dhoni': 87})

In [125]:
u2= Score.setdefault("Yuvi",100) #The setdefault() method returns the value of the item with the specified key.
u2

100

In [130]:
u3= Score.values() # Returns Value of keys
u3

dict_values([{'Sachin': 100, 'Virat': 71, 'Dhoni': 87}, 100])