<a href="https://colab.research.google.com/github/raju2309/EY_GDS/blob/main/Exercise_2_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#1.Write a program to take three names as input from a user in the single input() function call.
a, b, c = input("Enter three Names: ").split()

Enter three Names: Raju Kumar Sagar

In [6]:
#2. Write a program to print the following number pattern using a loop. 
for i in range(1,6):
    for j in range(1, i+1):
        print(j, end=" ")
    
    print("\n")

1

1 2

1 2 3

1 2 3 4

1 2 3 4 5

In [8]:
#3.Write a program to accept a number from a user and calculate the sum of all numbers from 1 to a given number 
num=int(input("Enter Number : "))
sum=0
for i in range(1,num+1,1):
  sum=sum+i

print("Sum = ",sum)

Enter Number : 10
Sum =  55

In [12]:
#4. Print list in reverse order using a loop 
list1= [23,4,1,76,98,23]
i = len(list1) - 1
while i > 0:
  print(list1[i])
  i-=1

23
98
76
1
4

In [16]:
#5. Write a program to display all prime numbers within a range 
for n in range(1, 50+1):
   if n > 1:
       for i in range(2,n):
           if (n % i) == 0:
               break
       else:
           print(n)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47

In [22]:
#6. Find the factorial of a given number without using math module 

num = 5

fact = 1
if num < 0:
   print("Sorry, factorial does not exist for negative numbers")
elif num == 0:
   print("The factorial of 0 is 1")
else:
   for i in range(1,num+1):
       fact = fact*i
   print("The factorial of",num,"is",fact)

The factorial of 5 is 120

In [25]:
#7. Print the following pattern 
num = 5
for i in range(0, num):
    for j in range(0, i + 1):
        print("*", end=' ')
    print(" ")


for i in range(num + 1, 0, -1):
    for j in range(1, i - 1):
        print("*", end=' ')
    print(" ")

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*